<%= form_with model: liquor, local:true do |f|%>
<div class="form-group">
<%= f.label(:pubulic, for: nil, class: 'game-status_label' )do %>
 <%= f.radio_button :status, :public %>
 <%= I18n.t('activerecord.attributes.game.statuses.public') %>
 <% end %>
</div>
<div class="form-group">
 <%= f.label(:private,for: nil, class:'post-status_label')do %>
  <%= f.radio_button :status, :private %>
   <%= I18n.t('activerecord.attributes.game.statuses.private') %>
  <% end %>
  </div>
  <div class="form-group">
  <%= f.label :category_id,"カテゴリー"%>
  <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
</div>

<div class="form-grup">
  <%= f.label :title ,"タイトル"%>
  <%= f.text_field :title, class: 'form-control liquor_name' %>
</div>
<div class="form-group">
  <%= f.label:body,"レビュー"%>
  <%= f.text_area :body %>
</div>
<div class="form-group">
  <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>