<div class='container px-5 px-sm-0'>
  <div class="d-flex">
   <%= render 'public/searches/form' %>
  
  </div>
  <div class='row'>
   <div class='col-md-3'>
    <%= render 'public/users/info', user: current_user %>
   </div>
   <div class='col-md-9'>
    <h2>ゲームレビュー</h2>
    <%= link_to '新しい順', appetizers_path(latest: "true") %>
    <%= link_to '古い順', appetizers_path(old: "true") %>
   
    <%= render 'public/appetizers/index', appetizer: @appetizers%>

    <%= link_to "TOP",user_path(current_user),class:"btn btn-primary" %>
    <%= link_to "ユーザー一覧へ", users_path, class:"btn btn-primary" %>

   </div>
  </div>
</div>