<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h4>appetizer-title</h4>
      <div>
        <%= @bar.title %>
      </div>
      <div>
        <small>
          <%= @bar.category.name %>
        </small>
      </div>

    </div>
    <div class='col-md-11 '>
      <table class=table>
        <thead>
          <tr>
            <th>image</th>
            <th>カテゴリー名</th>
            <th>ゲームタイトル</th>
            <th>レビュー</th>


            <th colspan=2></th>
          </tr>
        </thead>
        <tr>
          <td>
            <%= link_to(@bar.user) do %>
              <%= image_tag @bar.user.get_profile_image, size:"100x100" %><br>
              <%= @bar.user.name %>
            <% end %>
          </td>
          <td> <%= @bar.category.name %></td>
          <td><%= link_to @bar.title %></td>
          <td><%= @bar.review %></td>
         
        
       　 <tr>
          <% if @bar.user == current_user %>
            <th><%= link_to '編集',edit_liquor_path(@bar), class: "btn btn-sm btn-success edit_game_#{@bar.id}" %></td>
            <td><%= link_to '削除', @bar, method: :delete, data: { confirm: '本当に消しますか？'}, class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>
       
      <div class="comments-index">
        comments
        <%= render "public/comments/index", bar: @bar %>
      </div>
      <%= paginate @appetizercomments %>
      <%#= render "public/comments/form", liquor: @liquor, comment: @liquorcomment %>
      <%= link_to "戻る", liquors_path, class:"btn btn-primary" %>
      <%= link_to "TOP",user_path(current_user),class:"btn btn-primary" %>
    </div>
  </div>
</div>